*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.citta{
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#martinsicuro{
  background-image: url(../img/foto02-992.jpg);
}

#molfetta{
  background-image: url(../img/h_visit_molfetta.jpg);
}

#roma{
  background-image: url(../img/affitti-brevi-roma.jpg);
}
